*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.maingrid {
  max-width: 500px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  aspect-ratio: 1;
}
.colorbtn {
  width: 100%;
  aspect-ratio: 1;
  border: 1px solid black;
}
.modal{
  position:  absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
